@import '../common';

$text_color: #333333;

body {
  background: #ffffff;
}

div {
  &.adminHeader {
    background-color: #ffffff;
    margin-top: 0;

    header {
      &.public {
        display: none;
      }

      &.admin {
        display: block;
        width: 100%;
        height: 82px;
        line-height: 82px;

        .header_logo {
          width: 10%;
          height: 82px;
          float: left;
        }

        img {
          text-align: left;
          width: 200px;
          height: 62px;
          margin: 10px;
          float: left;
          object-fit: contain;
        }

        .menu {
          float: left;
          width: 90%;
          // float: right;
          text-align: right;

          ul {
            list-style: none;
            margin: 0;

            li {
              display: inline-block;
              margin:0 3%;
              color: $text_color;
              line-height: 82px;
              img {
                width: 20px;
                height: 20px;
                margin: 31px 5px;
              }
            }
          }
        }
      }
    }
  }
}
